<template name="LayoutsMain">

    <div class="container" style="text-align:center;">

        <h1>Some Timeline Proof of Concepts</h1>
        <hr>
        The source of this application can be found here: <a href="https://github.com/AntoBase/timeline">https://github.com/AntoBase/timeline</a>
        <hr>

        <h2>React</h2>
        <div>{{> React component=ReactTimeline documents=documents }}</div>

        <hr>

        <h2>Blaze Timeline</h2>
        {{> BlazeTimeline documents=documents }}

        <hr>
        <div>
            <a href="http://antobase.com">Made by <img style="height: 50px;" src="/img/AntoBase.png" alt=""></a>
        </div>
    </div>

</template>